<div class="row cuerpo">
	<div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray; font-weight: bold;" class="far fa-edit">&nbsp;&nbsp;Mantenedor Tipos</span>
		</font>
  </div>
	<div id="divTablaMantenedorTipos" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaMantenedorTipos" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="Selección">S</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Servicio">Servicio</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Cliente">Cliente</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Actividad">Actividad</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Clasificación">Clasificación</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Tipo">Tipo</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Minutos">Min.</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="IDESTRUCTURA">IDESTRUCTURA</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="IDAREAFUNCIONAL">IDCLASIFICACION</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaMantenedorTipos" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
  <div id="accionesMantenedorTipos" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

  </div>
</div>

<script>
//Para interactuar con la tabla de productos
$('#tablaMantenedorTipos tbody').on( 'click', 'tr', function () {
    setTimeout(async function(){
      var table = $('#tablaMantenedorTipos').DataTable();
      var datos = table.rows('.selected').data();
			if(table.rows('.selected').data().length > 1){
				$("#eliminarTipoOrden").attr("disabled", "disabled");
				$("#editarTipoOrden").attr("disabled", "disabled");
			}
      else if(table.rows('.selected').data().length > 0){
        $("#eliminarTipoOrden").removeAttr("disabled");
				$("#editarTipoOrden").removeAttr("disabled");
      }
      else{
        $("#eliminarTipoOrden").attr("disabled", "disabled");
				$("#editarTipoOrden").attr("disabled", "disabled");
      }
    },100);
});
</script>
