<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 0pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
          <span style="color: gray;" class="fas fa-video">&nbsp;&nbsp;Capacitaciones</span>
      </font>
  </div>
  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
		<label class="labelComun">Tipo</label>
		<select id="tipoCapacitacion" class="form-control" title="Mano de obra">
		</select>
  </div>
  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-4 col-lg-6 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Capacitación</label>
		<select id="capCapacitacion" class="form-control" title="Mano de obra">
		</select>
  </div>
  <div id="divVideoCapacitacion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: center;">
    <video id="videoCapacitacion" src="" controls class="videoCap"></video>
	</div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
