<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
          <span style="color: gray;" class="fas fa-info-circle">&nbsp;&nbsp;Notificaciones</span>
      </font>
  </div>

  <div id="divTablaNotificacion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaNotificacion" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Tipo">Tipo</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Categoria">Categoria</tH>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Fecha">Fecha</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Hora">Hora</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Leido">Leido</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Cuerpo">Cuerpo</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Leer">Leer</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaNotificacion" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
  <div id="divTablaNotificacion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <span class="fas fa-envelope-open-text" style="cursor: pointer; color: green;"></span>&nbsp;&nbsp;Mensaje leído&nbsp&nbsp;
    <span class="fas fa-envelope-open-text" style="cursor: pointer; color: red;"></span>&nbsp;&nbsp;Mensaje no leído
  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<script>
    //Para interactuar con la tabla de productos
    $('#tablaNotificacion tbody').on( 'click', 'tr', function () {
  			setTimeout(async function(){
  				var table = $('#tablaNotificacion').DataTable();
  				var datos = table.rows('.selected').data();
          if(table.rows('.selected').data().length > 0){
            $("#leidoNotificacion").removeAttr("disabled");
          }
          else{
            $("#leidoNotificacion").attr("disabled", "disabled");
          }
  			},100);
  	});
</script>
