<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 10pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
          <span style="color: gray; font-weight: bold;" class="fas fa-chart-pie">&nbsp;&nbsp;Informe Avance Metas</span>
      </font>
  </div>
  <div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" id="filtrosOcultPracticaMeta">
      <div id="filtrosPracticaMetas" style="margin-bottom: 10pt; text-align: right;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        		<label class="labelComun">Periodo</label>
        		<select id="periodoPracticaMetas" class="form-control" title="Periodo">
        		</select>
          </div>
        </div>
      </div>
      <div id="divGraficaPracticaMetas" style="margin-bottom: 10pt; text-align: right;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div id="graficaPracticaMetas" class="">

        </div>
      </div>
      <div id="divInfoInformePracticaMetas" style="margin-bottom: 10pt; text-align: right;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table id="infoInformePracticaMetas" class="row-border compact" style="width: 100%;">
          <thead>
            <tr>
              <th class="celdaColorCant" style="border: 1pt solid white;" title="Estado Control">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estado</th>
              <th class="celdaColorCant" style="border: 1pt solid white;" title="Cantidad">&nbsp;&nbsp;&nbsp;&nbsp;#</th>
            </tr>
          </thead>
          <tbody id="cueropInfoPracticaMetas" style="text-align: left;">

          </tbody>
          <tfoot>
    	      <tr>
    	      	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;Meta</td>
    	        <td></td>
    	  	  </tr>
    	  	</tfoot>
        </table>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr class="hr-separador">
      </div>
    </div>
  </div>
  <div id="divPracticaMetas" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaPracticaMetas" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="DNI">DNI</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Nombre">Nombre</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Perfil">Perfil</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Servicio">Servicio</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Cliente">Cliente</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Actividad">Actividad</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Comuna">Comuna</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Meta Mensual" >Meta Mensual</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="# Realizadas "># Realizadas</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Realizdas / Total">Realizadas / Total</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaPracticaMetas" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
  <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
    <button disabled class="form-control btn btn-secondary botonComun" id="detallePracticaMetas">
      <span class="fas fa-clipboard-list"></span>&nbsp;&nbsp;Detalle
    </button>
  </div>
  <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
    <button class="form-control btn btn-secondary botonComun" id="detallePracticaMetasTodosExcel">
      <span class="far fa-file-excel"></span>&nbsp;&nbsp;Detalle Excel
    </button>
  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<script>
  $('#tablaPracticaMetas tbody').on( 'click', 'tr', function () {
		var table = $('#tablaPracticaMetas').DataTable();
		if ( $(this).hasClass('selected') ) {
      $("#detallePracticaMetas").attr("disabled","disabled");
		}
		else {
			$("#detallePracticaMetas").removeAttr("disabled");
		}
	});
</script>
