<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 10pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
          <span style="color: gray; font-weight: bold;" class="fas fa-chart-pie">&nbsp;&nbsp;Informe Global</span>
      </font>
  </div>
  <div id="filtrosTablaInformes" style="margin-bottom: 20pt; text-align: right;" class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
    		<label class="labelComun">Periodo</label>
    		<select id="periodoTablaInformes" class="form-control" title="Periodo">
    		</select>
      </div>
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
    		<label class="labelComun">Semana</label>
    		<select id="semanaTablaInformesComun" class="form-control" title="Semana">
    		</select>
      </div>
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-none d-md-none d-md-block">
    		<label class="labelComun">&nbsp;</label>
    		&nbsp;
      </div>
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
    		<label class="labelComun">Auditoría</label>
    		<select id="auditoriaTablaInformesComun" class="form-control" title="Auditoría">
    		</select>
      </div>
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
    		<label class="labelComun">Prestación</label>
    		<select id="servicioTablaInformesComun" class="form-control" title="Servicio">
    		</select>
      </div>
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-none d-md-none d-md-block">
    		<label class="labelComun">&nbsp;</label>
    		&nbsp;
      </div>
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
    		<label class="labelComun">Jefatura</label>
    		<select id="jefaturaTablaInformes" class="form-control" title="Jefatura">
    		</select>
      </div>
    </div>
  </div>
  <div id="divGraficaTablaInformes" style="margin-bottom: 20pt; text-align: right;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div id="graficaTablaInformes" class="">

    </div>
  </div>
  <div id="divTablaInformes" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: -10pt; text-align: left;">
	  <table id="tablaInformes" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="DNI">DNI</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Nombre">Nombre</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Jefe">Jefe</tH>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Comuna">Comuna</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Empresa">Empresa</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Servicio" >Servicio</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Cliente">Cliente</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Actividad" >Actividad</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Sin problemas" ><span style="color: #b6ff00;" class="fas fa-thumbs-up"></span></th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="% Sin problemas" ><span style="color: #b6ff00;">%</span>&nbsp;&nbsp;<span style="color: #b6ff00;" class="fas fa-thumbs-up"></span></th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Con problemas" ><span style="color: #ff6e6e;" class="fas fa-thumbs-down"></span></th>
          <th class="celdaColor" style="border: 1pt solid white;" title="% Con problemas" ><span style="color: #ff6e6e;">%</span>&nbsp;&nbsp;<span style="color: #ff6e6e;" class="fas fa-thumbs-down"></span></th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Total" >Total</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Nota" >Nota</th>
          <th class="celdaColor" style="border: 1pt solid white;" >Si problemas</th>
          <th class="celdaColor" style="border: 1pt solid white;" >% Sin problemas</th>
          <th class="celdaColor" style="border: 1pt solid white;" >Con problemas</th>
          <th class="celdaColor" style="border: 1pt solid white;" >% Con problems</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaInformes" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
	</div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<script>
    //Para interactuar con la tabla de productos
    $('#tablaInformes tbody').on( 'click', 'tr', function () {
  			setTimeout(async function(){
  				var table = $('#tablaInformes').DataTable();
  				var datos = table.rows('.selected').data();
          /*if(table.rows('.selected').data().length > 0){
            $("#cambiarJefatura").removeAttr("disabled");
          }
          else{
            $("#cambiarJefatura").attr("disabled", "disabled");
          }*/
  			},100);
  	});
</script>
