<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 0pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
          <span style="color: gray; font-weight: bold;" class="fas fa-file-alt">&nbsp;&nbsp;Informe de Fallas</span>
      </font>
  </div>
  <div id="filtrosInformeFallas" style="margin-bottom: 20pt; text-align: right;" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
    		<label class="labelComun">Periodo</label>
    		<select id="periodoInformeFallas" class="form-control" title="Periodo">
    		</select>
      </div>
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <button style="margin-top: 30px;" class="form-control btn btn-secondary botonComun" id="filtrarInformeFallas">
          <span class="fas fa-filter"></span>&nbsp;&nbsp;Filtrar
        </button>
      </div>
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<label class="labelComun">Auditoría</label>
    		<select id="auditoriaInformeFallas" class="form-control" title="Auditoría" multiple>
    		</select>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr class="hr-separador">
      </div>
      <div style="margin-bottom: 5pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label class="labelComun">Jefatura</label>
        <select id="jefaturaInformeFallas" class="form-control" title="Jefatura">
        </select>
      </div>
    </div>
  </div>
  <div id="padreGrafico" style="text-align: right;" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div id="graficoInformeFallas" class="">

    </div>
  </div>
  <div id="tablaInformeFallasPadre" style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<script>
    //Para interactuar con la tabla de productos
    $('#TablaEvolucion tbody').on( 'click', 'tr', function () {
  			setTimeout(async function(){
  				var table = $('#TablaEvolucion').DataTable();
  				var datos = table.rows('.selected').data();
          /*if(table.rows('.selected').data().length > 0){
            $("#cambiarJefatura").removeAttr("disabled");
          }
          else{
            $("#cambiarJefatura").attr("disabled", "disabled");
          }*/
  			},100);
  	});
</script>
