<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 0pt; text-align: center;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <iframe id="disponibilidadDash"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    </iframe>
  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
