<div class="row cuerpo">
  <div style="margin-bottom: 10pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
    			<span style="color: gray;" class="fas fa-edit">&nbsp;&nbsp;Responsables Proyectos</span>
    		</font>
      </div>
    </div>
  </div>

  <div id="divTablaMantenedorResponsables" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaMantenedorResponsables" class="cell-border compact" style="width: 100%;">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="ID Proyecto">ID Proyecto</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Proyecto">Proyecto</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Nom. Proyecto">Nom. Proyecto</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="DNI">DNI</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Nombre">Nombre</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="E-mail">E-mail</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Fono">Fono</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaMantenedorResponsables" style="text-align: left;">

      </tbody>
    </table>
  </div>

  <div id="accionesMantenedorResponsables" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">

  </div>

</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaMantenedorResponsables tbody').on( 'click', 'tr', function () {
  	setTimeout(async function(){
  		var table = $('#tablaMantenedorResponsables').DataTable();
  		var datos = table.rows('.selected').data();
      if(table.rows('.selected').data().length > 0) {
        $("#agregarMantenedorResponsables").removeAttr("disabled");
        $("#editarMantenedorResponsables").removeAttr("disabled");
        $("#eliminarMantenedorResponsables").removeAttr("disabled");
      } else {
        $("#agregarMantenedorResponsables").removeAttr("disabled");
        $("#editarMantenedorResponsables").attr("disabled", "disabled");
        $("#eliminarMantenedorResponsables").attr("disabled", "disabled");
      }
    });
  });
</script>
