<div class="row cuerpo">
  <div style="margin-bottom: 10pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
    			<span style="color: gray;" class="fas fa-edit">&nbsp;&nbsp;Maestro de servicios</span>
    		</font>
      </div>
    </div>
  </div>
  <div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" id="filtrosComprasServicio">
	    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
    		<label class="labelComun">Marca</label>
        <select id="marcaMantenedorServicios" class="form-control" title="Comuna">
    		</select>
    	</div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
    		<label class="labelComun">Modelo</label>
        <select id="modeloMantenedorServicios" class="form-control" title="Comuna">
    		</select>
    	</div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
    		<label class="labelComun">Tipo</label>
        <select id="tipoMantenedorServicios" class="form-control" title="Comuna">
    		</select>
    	</div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr class="hr-separador">
      </div>
    </div>
  </div>
  <div id="divTablaMantenedorServicios" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaMantenedorServicios" class="cell-border compact" style="width: 100%;">
      <thead>
        <tr>
          <th class='celdaColor' style='border: 1pt solid white;' title='S'>S</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Folio'>Folio</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Cód. contable'>Cód. contable</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Nombre'>Nombre</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Marca'>Marca</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Modelo'>Modelo</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Tipo'>Tipo</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Precio_Min'>Precio Min</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Precio_Max'>Precio Max</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Potencia'>Potencia</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Peso'>Peso</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Capacidad'>Capacidad</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Area (M2)'>Area (M2)</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Ancho'>Ancho</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Alto'>Alto</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Largo'>Largo</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Temperatura'>Temperatura (°C)</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Humedad'>Humedad</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Precisión'>Precisión</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Únidad Medida'>Únidad Medida</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Estuctrura Gestión'>Estuctrura Gestión</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Estructura Financiera'>Estructura Financiera</th>
          <th class='celdaColor' style='border: 1pt solid white;' title='Empresa (sociedad)'>Empresa (sociedad)</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaMantenedorServicios" style="text-align: left;">

      </tbody>
    </table>
  </div>

  <div id="accionesMantenedorServicios" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">

  </div>

</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaMantenedorServicios tbody').on( 'click', 'tr', function () {
  	setTimeout(async function(){
  		var table = $('#tablaMantenedorServicios').DataTable();
  		var datos = table.rows('.selected').data();
      if(table.rows('.selected').data().length > 0) {
        $("#agregarMantenedorServicio").removeAttr("disabled");
        $("#editarMantenedorServicio").removeAttr("disabled");;
        $("#eliminarMantenedorServicio").removeAttr("disabled");
      } else {
        $("#agregarMantenedorServicio").removeAttr("disabled");
        $("#editarMantenedorServicio").attr("disabled", "disabled");
        $("#eliminarMantenedorServicio").attr("disabled", "disabled");
      }
    });
  });
</script>
