<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
      <span style="color: gray;" class="fas fa-edit">&nbsp;&nbsp;Proveedores</span>
    </font>
  </div>
	<div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" id="filtroMantenedorProveedores">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10pt;">
				<div class="row">
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Sociedad</label>
						<select id="sociedadMantenedorProveedores" class="form-control" title="Sociedad">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Tipo</label>
						<select id="tipoMantenedorProveedores" class="form-control" title="Tipo">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Comuna</label>
						<select id="comunaMantenedorProveedores" class="form-control" title="Comuna">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Actividad</label>
						<select id="actividadMantenedorProveedores" class="form-control" title="Actividad">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Avance (%)</label>
						<select id="avanceMantenedorProveedores" class="form-control" title="Avance (%)">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Comprador Asignado</label>
						<select id="compradorMantenedorProveedores" class="form-control" title="Comprador Asignado">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Evaluador Asignado</label>
						<select id="evaluadorMantenedorProveedores" class="form-control" title="Evaluador Asignado">
						</select>
				  </div>
				</div>
			</div>
    </div>
  </div>
  <div id="divTablaMantenedorProveedores" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaMantenedorProveedores" class="cell-border compact" style="width: 100%;">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="BP">BP</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="RUT">RUT</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Nombre">Nombre</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Contacto">Contacto</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Email Contact">Email Contacto</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Fono Contacto">Fono Contacto</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Cond. Pago">Cond. Pago</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Contrato">Contrato</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="F. Inicio Cont.">F. Inicio Cont.</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="F. Fin Cont.">F. Fin Cont.</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Dirección">Dirección</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Comuna">Comuna</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Sociedad">Sociedad</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Actividad">Actividad</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Tipo">Tipo</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Acreditado">Nexcel</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Bloqueo SAP">SAP</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Moneda">Moneda</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Crítico">Crítico</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Comp. Asignado">Comp. Asignado</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Usuario Modifica">Usuario Modifica</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Usuario Evaluador">Usuario Evaluador</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="F. Solicitud">F. Solicitud</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="F. Ingreso">F. Ingreso</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="F. Actualización">F. Actualización</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Avance (%)">Avance (%)</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Evaluación">Evaluación</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Evaluado">Evaluado</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Categoria">Categoria</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaMantenedorProveedores" style="text-align: left;">

      </tbody>
    </table>
  </div>

  <div id="accionesMantenedorProveedores" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0; margin-bottom: 20pt;">

  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaMantenedorProveedores tbody').on( 'click', 'tr', function () {
  	setTimeout(async function(){
  		var table = $('#tablaMantenedorProveedores').DataTable();
  		var datos = table.rows('.selected').data();
      if(table.rows('.selected').data().length > 1) {
				$("#agregarMantenedorProveedores").removeAttr("disabled");
				$("#asignarCompMantenedorProveedores").removeAttr("disabled");
        $("#editarMantenedorProveedores").attr("disabled", "disabled");
        $("#eliminarMantenedorProveedores").attr("disabled", "disabled");
      }
			else if(table.rows('.selected').data().length === 1){
	        $("#agregarMantenedorProveedores").removeAttr("disabled");
	        $("#editarMantenedorProveedores").removeAttr("disabled");
	        $("#eliminarMantenedorProveedores").removeAttr("disabled");
					$("#asignarCompMantenedorProveedores").removeAttr("disabled");
			} else {
        $("#agregarMantenedorProveedores").removeAttr("disabled");
        $("#editarMantenedorProveedores").attr("disabled", "disabled");
        $("#eliminarMantenedorProveedores").attr("disabled", "disabled");
				$("#asignarCompMantenedorProveedores").attr("disabled", "disabled");
      }
    });
  });
</script>
