<div class="row cuerpo">
  <div style="margin-bottom: 10pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
    			<span style="color: gray;" class="fas fa-edit">&nbsp;&nbsp;Compras Peticiones</span>
    		</font>
      </div>
    </div>
  </div>
  <div id="divTablaMantenedorPeticiones" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaMantenedorPeticiones" class="cell-border compact" style="width: 100%;">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Estado">Estado</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Tipo">Tipo</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Proyecto">Proyecto</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Comuna">Comuna</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="PEP">PEP</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Fecha Pedido">Fecha Pedido</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Hora Pedido">Hora Pedido</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Fecha Límite">Fecha Límite</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Refacturable">Refacturable</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Regularización">Regularización</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="DNI Solicitante">DNI Solicitante</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Usuario">Solicitante</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="DNI Responsable">DNI Responsable</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Responsable">Responsable</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaMantenedorPeticiones" style="text-align: left;">

      </tbody>
    </table>
  </div>

  <div id="accionesMantenedorPeticiones" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">

  </div>

</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaMantenedorPeticiones tbody').on( 'click', 'tr', function () {
  	setTimeout(async function(){
  		var table = $('#tablaMantenedorPeticiones').DataTable();
  		var datos = table.rows('.selected').data();
      if(table.rows('.selected').data().length > 0) {
        $("#nuevaPeticionCompra").removeAttr("disabled");
        $("#detallePeticionCompra").removeAttr("disabled");;
        $("#cancelarPeticionCompra").removeAttr("disabled");
      } else {
        $("#nuevaPeticionCompra").removeAttr("disabled");
        $("#detallePeticionCompra").attr("disabled", "disabled");
        $("#cancelarPeticionCompra").attr("disabled", "disabled");
      }
    });
  });
</script>
