<div class="row cuerpo">
  <div style="margin-bottom: 10pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
    			<span style="color: gray;" class="fas fa-edit">&nbsp;&nbsp;Dimensiones Financieras</span>
    		</font>
      </div>
    </div>
  </div>

  <div id="divTablaMantenedorFinancieras" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaMantenedorFinancieras" class="cell-border compact" style="width: 100%;">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Grupo">Grupo</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Sub Grupo" >Sub Grupo</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Cuenta" >Cuenta</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Tipo" >Tipo</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaMantenedorFinancieras" style="text-align: left;">

      </tbody>
    </table>
  </div>

  <div id="accionesMantenedorFinancieras" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">

  </div>

</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaMantenedorFinancieras tbody').on( 'click', 'tr', function () {
  	setTimeout(async function(){
  		var table = $('#tablaMantenedorFinancieras').DataTable();
  		var datos = table.rows('.selected').data();
      if(table.rows('.selected').data().length > 0) {
        $("#agregarMantenedorFinanciero").removeAttr("disabled");
        $("#editarMantenedorFinanciero").removeAttr("disabled");;
        $("#eliminarMantenedorFinanciero").removeAttr("disabled");
      } else {
        $("#agregarMantenedorFinanciero").removeAttr("disabled");
        $("#editarMantenedorFinanciero").attr("disabled", "disabled");
        $("#eliminarMantenedorFinanciero").attr("disabled", "disabled");
      }
    });
  });
</script>
