<div class="row cuerpo">
  <div style="margin-bottom: 10pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
    			<span style="color: gray;" class="fas fa-edit">&nbsp;&nbsp;Dimensiones Gestión</span>
    		</font>
      </div>
    </div>
  </div>
  <div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" id="filtrosComprasGestion">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
        <label class="labelComun">Familia</label>
        <select id="familiaComprasGestion" class="form-control" title="Comuna">
        </select>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
        <label class="labelComun">Segmento</label>
        <select id="segmentoComprasGestion" class="form-control" title="Comuna">
        </select>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
        <label class="labelComun">Clave</label>
        <select id="claveComprasGestion" class="form-control" title="Comuna">
        </select>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
        <label class="labelComun">Tipo</label>
        <select id="tipoComprasGestion" class="form-control" title="Comuna">
        </select>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr class="hr-separador">
      </div>
    </div>
  </div>
  <div id="divTablaMantenedorGestion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaMantenedorGestion" class="cell-border compact" style="width: 100%;">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Familia">Familia</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Segmento">Segmento</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Clase">Clave</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Tipo">Tipo</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaMantenedorGestion" style="text-align: left;">

      </tbody>
    </table>
  </div>

  <div id="accionesMantenedorGestion" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">

  </div>

</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaMantenedorGestion tbody').on( 'click', 'tr', function () {
  	setTimeout(async function(){
  		var table = $('#tablaMantenedorGestion').DataTable();
  		var datos = table.rows('.selected').data();
      if(table.rows('.selected').data().length > 0) {
        $("#agregarMantenedorGestion").removeAttr("disabled");
        $("#eliminarMantenedorGestion").removeAttr("disabled");
      } else {
        $("#agregarMantenedorGestion").removeAttr("disabled");
        $("#eliminarMantenedorGestion").attr("disabled", "disabled");
      }
    });
  });
</script>
