<div class="row cuerpo">
  <div style="margin-bottom: 10pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
    			<span style="color: gray;" class="fas fa-edit">&nbsp;&nbsp;Maestro de materiales</span>
    		</font>
      </div>
    </div>
  </div>
  <div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" id="filtrosComprasMaterial">
	    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
    		<label class="labelComun">Marca</label>
        <select id="marcaMantenedorMateriales" class="form-control" title="Comuna">
    		</select>
    	</div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
    		<label class="labelComun">Modelo</label>
        <select id="modeloMantenedorMateriales" class="form-control" title="Comuna">
    		</select>
    	</div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;"	>
    		<label class="labelComun">Tipo</label>
        <select id="tipoMantenedorMateriales" class="form-control" title="Comuna">
    		</select>
    	</div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr class="hr-separador">
      </div>
    </div>
  </div>
  <div id="divTablaMantenedorMateriales" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaMantenedorMateriales" class="cell-border compact" style="width: 100%;">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Cod. Contable">Cod. Contable</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Nombre">Nombre</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Marca">Marca</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Modelo">Modelo</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Color">Color</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Tipo">Tipo</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Material">Material</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Talla">Talla</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Envase">Envase</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Precio Mín.">Precio Mín.</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Precio Máx.">Precio Máx.</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Voltaje">Voltaje</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Potencia">Potencia</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Calibre">Calibre</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Ancho">Ancho</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Alto">Alto</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Largo">Largo</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaMantenedorMateriales" style="text-align: left;">

      </tbody>
    </table>
  </div>

  <div id="accionesMantenedorMateriales" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">

  </div>

</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaMantenedorMateriales tbody').on( 'click', 'tr', function () {
  	setTimeout(async function(){
  		var table = $('#tablaMantenedorMateriales').DataTable();
  		var datos = table.rows('.selected').data();
      if(table.rows('.selected').data().length > 0) {
        $("#agregarMantenedorMaterial").removeAttr("disabled");
        $("#editarMantenedorMaterial").removeAttr("disabled");;
        $("#eliminarMantenedorMaterial").removeAttr("disabled");
      } else {
        $("#agregarMantenedorMaterial").removeAttr("disabled");
        $("#editarMantenedorMaterial").attr("disabled", "disabled");
        $("#eliminarMantenedorMaterial").attr("disabled", "disabled");
      }
    });
  });
</script>
