<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoPerfiles tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoPerfiles').DataTable();
		if ( $(this).hasClass('selected') ) {
        $("#editarPerfil").attr("disabled","disabled");
        $("#asignarAreasPerfil").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
        $("#editarPerfil").removeAttr("disabled");
        $("#asignarAreasPerfil").removeAttr("disabled");
		}
	});

</script>

	<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
				<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
						<span style="color: gray;" class="fas fa-user-friends">&nbsp;&nbsp;Listado de perfiles</span>
					</font>
			  </div>
				<div id="divTablaListadoPerfiles" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
				  <table id="tablaListadoPerfiles" class="cell-border compact" style="width: 100%;">
				    <thead>
				      <tr>
								<th class="celdaColor" style="border: 1pt solid white;">S</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Perfil</th>
								<th class="celdaColor" style="border: 1pt solid white;">ID</th>
								<th class="celdaColor" style="border: 1pt solid white;">Nro permisos</th>
								<th class="celdaColor" style="border: 1pt solid white;">Asignación</th>
								<th class="celdaColor" style="border: 1pt solid white;">Descripción</th>
								<th class="celdaColor" style="border: 1pt solid white;">Informe disponibilidad</th>
								<th class="celdaColor" style="border: 1pt solid white;">Informe metas</th>
				      </tr>
				    </thead>
				    <tbody id="cuerpoTablaListadoPerfiles" style="text-align: left;">

				    </tbody>
				  </table>
				</div>
      <!-- Botones -->
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
			<button class="form-control btn btn-secondary botonComun" id="agregarPerfil">
				<span class="fas fa-plus"></span>&nbsp;&nbsp;Agregar
			</button>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
				<button class="form-control btn btn-secondary botonComun" id="editarPerfil" disabled>
					<span class="fas fa-edit"></span>&nbsp;&nbsp;Editar
				</button>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
				<button class="form-control btn btn-secondary botonComun" id="asignarAreasPerfil" disabled>
					<span class="fas fa-unlock"></span>&nbsp;&nbsp;Areas
				</button>
			</div>
  </div>
