<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
            <span style="color: gray;" class="fas fa-wrench">&nbsp;&nbsp;Listado de Especialidades</span>
        </font>
  </div>
    <div id="divTablaListadoEspecialidad" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
      <table id="tablaListadoEspecialidad" class="cell-border compact" style="width: 100%;">
        <thead>
          <tr>
            <th class="celdaColor" style="border: 1pt solid white;">S</th>
            <th class="celdaColor" style="border: 1pt solid white;">Folio</th>
            <th class="celdaColor" style="border: 1pt solid white;">Especialidad</th>
            <th class="celdaColor" style="border: 1pt solid white;">Código especialidad</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaListadoEspecialidad" style="text-align: left;">

        </tbody>
      </table>
    </div>
<!-- Botones -->
<div id="accionesEspecialidad" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

</div>
</div>

<script>
//Para interactuar con los botones
$('#tablaListadoEspecialidad tbody').on( 'click', 'tr', function () {
    var table = $('#tablaListadoEspecialidad').DataTable();
    if ( $(this).hasClass('selected') ) {
        $("#editarEspecialidad").attr("disabled","disabled");
        $("#eliminarEspecialidad").attr("disabled","disabled");
    }
    else {
        table.$('tr.selected').removeClass('selected');
        $("#editarEspecialidad").removeAttr("disabled");
        $("#eliminarEspecialidad").removeAttr("disabled");
    }
});
</script>