<div class="row cuerpo">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-map-marked-alt">&nbsp;&nbsp;Mantenedor Zonas</span>
		</font>
  </div>
	<div id="divTablaMantenedorZonasObra" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaMantenedorZonasObra" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="Selección">S</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Servicio">Servicio</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Cliente">Cliente</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Actividad">Actividad</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Comuna">Comuna</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Activa">Activa</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="IDESTRUCTURA">IDESTRUCTURA</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="IDAREAFUNCIONAL">IDAREAFUNCIONAL</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Correo">Correo</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Telefono">Telefono</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaMantenedorZonasObra" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
  <div id="accionesMantenedorZonasObra" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

  </div>
</div>

<script>
//Para interactuar con la tabla de productos
$('#tablaMantenedorZonasObra tbody').on( 'click', 'tr', function () {
    setTimeout(async function(){
		var table = $('#tablaMantenedorZonasObra').DataTable();
		var datos = table.rows('.selected').data();
		if(table.rows('.selected').data().length > 1){
			$("#eliminarZonaObra").removeAttr("disabled");
			$("#activarZonaObra").attr("disabled", "disabled");
			$("#asignarPersonalZonaObra").attr("disabled","disabled");
			$("#contactoClienteZonaObra").attr("disabled","disabled");
		}
		else if(table.rows('.selected').data().length > 0){
			$("#eliminarZonaObra").removeAttr("disabled");
			$("#activarZonaObra").removeAttr("disabled");
			$("#asignarPersonalZonaObra").removeAttr("disabled");
			$("#contactoClienteZonaObra").removeAttr("disabled");
		}
		else{
			$("#eliminarZonaObra").attr("disabled", "disabled");
			$("#activarZonaObra").attr("disabled", "disabled");
			$("#asignarPersonalZonaObra").attr("disabled","disabled");
			$("#contactoClienteZonaObra").attr("disabled","disabled");
		}
    },100);
});
</script>
