<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
      <span style="color: gray;" class="far fa-keyboard">&nbsp;&nbsp;Asignar Cargos</span>
    </font>
  </div>
	<div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" id="filtroAsignarCargos">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10pt;">
				<div class="row">
					<!-- <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Tipo</label>
						<select id="tipoAsignarCargos" class="form-control" title="Mano de obra">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Marca</label>
						<select id="marcaAsignarCargos" class="form-control" title="Centro de costo">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Modelo</label>
						<select id="modeloAsignarCargos" class="form-control" title="Estado personal">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Estado</label>
						<select id="estadoAsignarCargos" class="form-control" title="Estado personal">
						</select>
				  </div> -->
				</div>
			</div>
    </div>
  </div>
  <div id="divTablaAsignarCargos" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaAsignarCargos" class="cell-border compact" style="width: 100%;">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Personal Asignado">Personal Asignado</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Estado">Estado</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="F. Asignación">F. Asignación</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="F. Desasignación">F. Desasignación</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Observación">Observación</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Usuario asignador">Usuario asignador</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="PDF">PDF</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaAsignarCargos" style="text-align: left;">

      </tbody>
    </table>
  </div>

  <div id="accionesAsignarCargos" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0; margin-bottom: 20pt;">

  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaAsignarCargos tbody').on( 'click', 'tr', function () {
  	setTimeout(async function(){
  		var table = $('#tablaAsignarCargos').DataTable();
  		var datos = table.rows('.selected').data();
      if(table.rows('.selected').data().length > 1) {
				$("#asignarAsignarCargos").removeAttr("disabled");
				$("#desasignarAsignarCargos").attr("disabled", "disabled");
				$("#detalleAsignarCargos").attr("disabled", "disabled");
      }
			if(table.rows('.selected').data().length === 0) {
				$("#asignarAsignarCargos").removeAttr("disabled");
				$("#desasignarAsignarCargos").attr("disabled", "disabled");
				$("#detalleAsignarCargos").attr("disabled", "disabled");
      }
			else {
				$("#asignarAsignarCargos").removeAttr("disabled");
				$("#desasignarAsignarCargos").removeAttr("disabled");
				$("#detalleAsignarCargos").removeAttr("disabled");
			}
    });
  });
</script>
