<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
      <span style="color: gray;" class="fas fa-laptop">&nbsp;&nbsp;Cargos Informática</span>
    </font>
  </div>
	<div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" id="filtroMantenedorCargos">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10pt;">
				<div class="row">
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Tipo</label>
						<select id="tipoMantenedorCargos" class="form-control" title="Mano de obra">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Marca</label>
						<select id="marcaMantenedorCargos" class="form-control" title="Centro de costo">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Modelo</label>
						<select id="modeloMantenedorCargos" class="form-control" title="Estado personal">
						</select>
				  </div>
					<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<label class="labelComun">Estado</label>
						<select id="estadoMantenedorCargos" class="form-control" title="Estado personal">
						</select>
				  </div>
				</div>
			</div>
    </div>
  </div>
  <div id="divTablaMantenedorCargos" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaMantenedorCargos" class="cell-border compact" style="width: 100%;">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Serie">Serie</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Serie">IMEI</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Linea">Linea</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Tipo">Tipo</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Marca">Marca</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Modelo">Modelo</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Valor Ref.">Valor Ref.</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="F. Ingreso">F. Ingreso</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Carácteristicas">Carácteristicas</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="Estado">Estado</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="QR">QR</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaMantenedorCargos" style="text-align: left;">

      </tbody>
    </table>
  </div>

  <div id="accionesMantenedorCargos" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0; margin-bottom: 20pt;">

  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=141';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaMantenedorCargos tbody').on( 'click', 'tr', function () {
  	setTimeout(async function(){
  		var table = $('#tablaMantenedorCargos').DataTable();
  		var datos = table.rows('.selected').data();
      if(table.rows('.selected').data().length > 1) {
				$("#agregarMantenedorCargos").removeAttr("disabled");
        $("#editarMantenedorCargos").attr("disabled", "disabled");
        $("#eliminarMantenedorCargos").attr("disabled", "disabled");
      }
			if(table.rows('.selected').data().length === 0) {
				$("#agregarMantenedorCargos").removeAttr("disabled");
        $("#editarMantenedorCargos").attr("disabled", "disabled");
        $("#eliminarMantenedorCargos").attr("disabled", "disabled");
      }
			else {
				console.log(datos[0].ESTADO);
				if(datos[0].ESTADO === "Asignado"){
					$("#agregarMantenedorCargos").removeAttr("disabled");
	        $("#editarMantenedorCargos").removeAttr("disabled");
	        $("#eliminarMantenedorCargos").attr("disabled", "disabled");
				}
				else {
					$("#agregarMantenedorCargos").removeAttr("disabled");
	        $("#editarMantenedorCargos").removeAttr("disabled");
	        $("#eliminarMantenedorCargos").removeAttr("disabled");
				}
			}
    });
  });
</script>
