<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
            <span style="color: gray;" class="fas fa-wrench">&nbsp;&nbsp;Listado de Materiales</span>
        </font>
  </div>
    <div id="divTablaListadoUnidadObra" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
      <table id="tablaListadoUnidadObra" class="cell-border compact" style="width: 100%;">
        <thead>
          <tr>
            <th class="celdaColor" style="border: 1pt solid white;">S</th>
            <th class="celdaColor" style="border: 1pt solid white;">Folio</th>
            <th class="celdaColor" style="border: 1pt solid white;">Nombre</th>
            <th class="celdaColor" style="border: 1pt solid white;">UM</th>
            <th class="celdaColor" style="border: 1pt solid white;">Valor</th>
            <th class="celdaColor" style="border: 1pt solid white;">Provee</th>
            <th class="celdaColor" style="border: 1pt solid white;">Cód. UO (Cliente)</th>
            <th class="celdaColor" style="border: 1pt solid white;">Cód. SIMA (Cliente)</th>
            <th class="celdaColor" style="border: 1pt solid white;">Cód. SAP (Cliente)</th>
            <th class="celdaColor" style="border: 1pt solid white;">Cód. SAP (Interno)</th>
            <th class="celdaColor" style="border: 1pt solid white;">Cód. 2 (Interno)</th>
            <th class="celdaColor" style="border: 1pt solid white;">Cód. 3 (Interno)</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaListadoUnidadObra" style="text-align: left;">

        </tbody>
      </table>
    </div>
<!-- Botones -->
<div id="accionesUnidadObra" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

</div>
</div>

<script>
//Para interactuar con los botones
$('#tablaListadoUnidadObra tbody').on( 'click', 'tr', function () {
    var table = $('#tablaListadoUnidadObra').DataTable();
    if ( $(this).hasClass('selected') ) {
        $("#editarUnidadObra").attr("disabled","disabled");
        $("#eliminarUnidadObra").attr("disabled","disabled");
    }
    else {
        table.$('tr.selected').removeClass('selected');
        $("#editarUnidadObra").removeAttr("disabled");
        $("#eliminarUnidadObra").removeAttr("disabled");
    }
});
</script>
