<div style="text-align: center;">
	<!-- <font style="font-size: 8pt;">© E-Gestiontech 2021</font> -->
	<input style="display: none;" type="hidden" id="sesionActiva" value="0">
	<input style="display: none;" type="hidden" id="sesionActivaUso" value="0">
	<input style="display: none;" type="hidden" id="cantMenu" value="0">
</div>
