	<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
				<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
						<span style="color: gray;" class="fas fa-map-marker-alt">&nbsp;&nbsp;Listado de Sucursales</span>
					</font>
			  </div>
				<div id="divTablaListadoSucursal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
				  <table id="tablaListadoSucursal" class="cell-border compact" style="width: 100%;">
				    <thead>
				      <tr>
								<th class="celdaColor" style="border: 1pt solid white;">S</th>
				      	<th class="celdaColor" style="border: 1pt solid white;">Sucursal</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Comuna</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Bodega</th>
						<th class="celdaColor" style="border: 1pt solid white;">Estado</th>
				      </tr>
				    </thead>
				    <tbody id="cuerpoTablaListadoSucursal" style="text-align: left;">

				    </tbody>
				  </table>
				</div>
      <!-- Botones -->
		<div id="accionesSucursales" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

		</div>
    </div>

	<script>
		//Para interactuar con los botones
			$('#tablaListadoSucursal tbody').on( 'click', 'tr', function () {
				var table = $('#tablaListadoSucursal').DataTable();
				if ( $(this).hasClass('selected') ) {
					$("#editarSucursal").attr("disabled","disabled");
					$("#eliminarSucursal").attr("disabled","disabled");
				}
				else {
					table.$('tr.selected').removeClass('selected');
					$("#editarSucursal").removeAttr("disabled");
					$("#eliminarSucursal").removeAttr("disabled");
				}
			});

		</script>
