	<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
		<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
				<span style="color: gray;" class="fas fa-clipboard-check">&nbsp;&nbsp;Listado de Asignaciones</span>
			</font>
	  </div>
		<div style="margin-bottom: 20pt; text-align: left; margin-right: 20pt;" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<label class="labelComun">Periodo</label>
			<select id="fechaAsignacion" class="form-control" title="Fecha Asignacion">
			</select>
		</div>
		<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group-sm">
			<label style="font-weight: bold;">Mostrar asignaciones Validadas/Anuladas</label>
			<br>
			<label class="switch" style="margin-top: 5pt; text-align: center;">
				<input id="filtroEstadoAsignacion" type="checkbox" title="Mostrar asignaciones Validadas/Anuladas">
				<span class="slider round"></span>
			</label>
		</div>
		<div id="divTablaListadoAsignacion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
		  <table id="tablaListadoAsignacion" class="cell-border compact" style="width: 100%;">
		    <thead>
		      <tr>
				<th class="celdaColor" style="border: 1pt solid white;">S</th>
                    <th class="celdaColor" style="border: 1pt solid white;">ID</th>
		      	<th class="celdaColor" style="border: 1pt solid white;">Patente</th>
		        <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Hora</th>
		        <th class="celdaColor" style="border: 1pt solid white;">Tipo Veh.</th>
				<th class="celdaColor" style="border: 1pt solid white;">Bodega</th>
                    <th class="celdaColor" style="border: 1pt solid white;">DNI Asig.</th>
		        <th class="celdaColor" style="border: 1pt solid white;">Nombre Asig.</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Telefono</th>
				<th class="celdaColor" style="border: 1pt solid white;">Servicio</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Cliente</th>
		        <th class="celdaColor" style="border: 1pt solid white;">Actividad</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
		        <th class="celdaColor" style="border: 1pt solid white;">Check.</th>
				<th class="celdaColor" style="border: 1pt solid white;">Lic.</th>
				<th class="celdaColor" style="border: 1pt solid white;">Asig.</th>
		      </tr>
		    </thead>
		    <tbody id="cuerpoTablaListadoAsignacion" style="text-align: left;">

		    </tbody>
		  </table>
		</div>
  <!-- Botones -->
  <div id="accionesAsignacionFlota" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

  </div>
</div>

<!-- Activacion de botones segun el Estado de la Asignacion -->
<script>
	$('#tablaListadoAsignacion tbody').on( 'click', 'tr', function () {
		setTimeout(async function(){
			var table = $('#tablaListadoAsignacion').DataTable();
			var data = table.rows('.selected').data();
			if(data.length <= 0){
				$("#validarAsignacion").attr("disabled","disabled");
				$("#anularAsignacion").attr("disabled","disabled");
				$("#subirPdfAsignacion").attr("disabled","disabled");
			}
			else{
				if(data[0].ESTADO === "En Revisión"){
				$("#validarAsignacion").removeAttr("disabled");
				$("#anularAsignacion").removeAttr("disabled");
				$("#subirPdfAsignacion").attr("disabled","disabled");
				}
				else if(data[0].ESTADO === "Generada"){
				$("#subirPdfAsignacion").removeAttr("disabled");
				$("#anularAsignacion").removeAttr("disabled");
				$("#validarAsignacion").attr("disabled","disabled");
				}
				else if(data[0].ESTADO === "Validada"){
				$("#anularAsignacion").attr("disabled","disabled");
				$("#validarAsignacion").attr("disabled","disabled");
				$("#subirPdfAsignacion").attr("disabled","disabled");
				}
			}
		},200);
	});
</script>
<!-- Fin de Activacion de botones segun el Estado de la Asignacion -->
