<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
            <span style="color: gray;" class="fas fa-car-crash">&nbsp;&nbsp;Listado de Siniestros</span>
        </font>
  </div>
  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
    <label class="labelComun">Periodo</label>
    <select id="periodoFiltroSiniestros" class="form-control" title="Periodo Siniestros">
    </select>
  </div>
  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
    <label class="labelComun">Gravedad</label>
    <select id="tipoFiltroSiniestros" class="form-control" title="Tipo Siniestros">

    </select>
</div>

    <div id="divTablaListadoSiniestros" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
      <table id="tablaListadoSiniestros" class="cell-border compact" style="width: 100%;">
        <thead>
          <tr>
            <th class="celdaColor" style="border: 1pt solid white;">S</th>
            <th class="celdaColor" style="border: 1pt solid white;">Folio</th>
            <th class="celdaColor" style="border: 1pt solid white;">Patente</th>
            <th class="celdaColor" style="border: 1pt solid white;">N° Siniestro</th>
            <th class="celdaColor" style="border: 1pt solid white;">N° Factura</th>
            <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
            <th class="celdaColor" style="border: 1pt solid white;">Hora</th>
            <th class="celdaColor" style="border: 1pt solid white;">Gravedad</th>
            <th class="celdaColor" style="border: 1pt solid white;">DNI Asig.</th>
            <th class="celdaColor" style="border: 1pt solid white;">Nombre Asig.</th>
            <th class="celdaColor" style="border: 1pt solid white;">Telefono</th>
            <th class="celdaColor" style="border: 1pt solid white;">Servicio</th>
            <th class="celdaColor" style="border: 1pt solid white;">Cliente</th>
            <th class="celdaColor" style="border: 1pt solid white;">Actividad</th>
            <th class="celdaColor" style="border: 1pt solid white;">Comuna</th>
            <th class="celdaColor" style="border: 1pt solid white;">Descuento</th>
            <th class="celdaColor" style="border: 1pt solid white;">Monto Desc.</th>
            <th class="celdaColor" style="border: 1pt solid white;">Costo Total</th>
            <th class="celdaColor" style="border: 1pt solid white;">Usuario Sist.</th>
            <th class="celdaColor" style="border: 1pt solid white;">Form.</th>
            <th class="celdaColor" style="border: 1pt solid white;">Decl.</th>
            <th class="celdaColor" style="border: 1pt solid white;">Decl_Aseg.</th>
            <th class="celdaColor" style="border: 1pt solid white;">Lic.</th>
            <th class="celdaColor" style="border: 1pt solid white;">Desc.</th>

          </tr>
        </thead>
        <tbody id="cuerpoTablaListadoSiniestros" style="text-align: left;">

        </tbody>
      </table>
    </div>
<!-- Botones -->
    <div id="accionesSiniestrosFlota" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

    </div>
</div>

<!-- Activacion de botones -->
<script>
	$('#tablaListadoSiniestros tbody').on( 'click', 'tr', function () {
		setTimeout(async function(){
			var table = $('#tablaListadoSiniestros').DataTable();
			var data = table.rows('.selected').data();
			if(data.length <= 0){
				$("#ingresarSiniestros").removeAttr("disabled");
				$("#subirPdfSiniestros").attr("disabled","disabled");
				$("#numeroSiniestros").attr("disabled","disabled");
        $("#numeroFacturaSiniestros").attr("disabled","disabled");
				$("#descuentoSiniestros").attr("disabled","disabled");
			}
			else{
				$("#ingresarSiniestros").removeAttr("disabled");
				$("#subirPdfSiniestros").removeAttr("disabled");
				$("#numeroSiniestros").removeAttr("disabled");
        $("#numeroFacturaSiniestros").removeAttr("disabled");
				$("#descuentoSiniestros").removeAttr("disabled");
			}
		},200);
	});
</script>
<!-- Fin de Activacion de botones -->
