<div class="row cuerpo">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-credit-card">&nbsp;&nbsp;Tarjetas Combustible</span>
		</font>
  </div>
	<div style="text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row" id="filtrosTarjetaCombustible">
			<div id="divGraficaTarjetaCombustible" style="margin-bottom: 10pt; text-align: left;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<label class="labelComun">Mov. Combustible</label>
				<div id="graficaMovimientosMontos" class="" style="text-align: left; margin-top: 5pt;">

				</div>
			</div>
			<div id="divGraficaTarjetaResumen" style="margin-bottom: 10pt; text-align: left;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<label class="labelComun">Resumen Estados</label>
				<div id="graficaTarjetaResumen" class="" style="text-align: left; margin-top: 5pt;">

				</div>
			</div>
			<div id="divGraficaTarjetaResumen" style="margin-bottom: 10pt; text-align: left;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<label class="labelComun">Resumen conductor</label>
				<div id="graficaTarjetaResumenConductor" class="" style="text-align: left; margin-top: 5pt;">

				</div>
			</div>
		</div>
	</div>
	<div id="divTablaTarjetaCombustible" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaTarjetaCombustible" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="Selección">S</th>
	      	<th class="celdaColor" style="border: 1pt solid white;" title="Número">Número</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado" >Estado</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Producto" >Producto</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Tipo" >Tipo</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Patente" >Patente</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Saldo Inicial" >Saldo Inicial</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Devolución" >Devolución</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Asignación" >Asignación</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Consumo" >Consumo</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Saldo" >Saldo</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="DNI">DNI</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Usuario asignado" >Usuario asignado</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado control">EC</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado asistencia">EA</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado RRHH">ER</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Comuna de consumo" >Comuna consumo</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Servicio" >Servicio</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Cliente" >Cliente</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Actividad" >Actividad</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado" >Estado</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado control">Estado control</tH>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado asistencia">Estado asistencia</tH>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado RRHH">Estado RRHH</tH>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaTarjetaCombustible" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
	<!-- Botones -->
	<div id="accionesTarjetasCombustible" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0; margin-bottom: 20pt;">

	</div>
</div>

<script>
//Para interactuar con la tabla de productos
	$('#tablaTarjetaCombustible tbody').on( 'click', 'tr', function () {
			var table = $('#tablaTarjetaCombustible').DataTable();
			if ( $(this).hasClass('selected') ) {
					$("#asignarTarjetaCombustible").attr("disabled","disabled");
					$("#desasignarTarjetaCombustible").attr("disabled","disabled");
					$("#editarTarjetaCombustible").attr("disabled","disabled");
					$("#solicitarTarjetaCombustible").attr("disabled","disabled");
					$("#devolucionTarjetaCombustible").attr("disabled","disabled");
					$("#copecHistorialTarjetaCombustible").attr("disabled","disabled");
			}
			else {
				setTimeout(function(){
					var table = $('#tablaTarjetaCombustible').DataTable();
					var d = $.map(table.rows('.selected').data(), function (item) {
						return item.ESTADO;
					});
					if(d[0] === 'Asignada'){
						$("#desasignarTarjetaCombustible").removeAttr("disabled");
						$("#asignarTarjetaCombustible").attr("disabled","disabled");
						$("#editarTarjetaCombustible").attr("disabled","disabled");
						$("#solicitarTarjetaCombustible").removeAttr("disabled");
						$("#devolucionTarjetaCombustible").removeAttr("disabled");
						$("#copecHistorialTarjetaCombustible").removeAttr("disabled");
					}
					else if(d[0] === 'Backup'){
						$("#desasignarTarjetaCombustible").removeAttr("disabled");
						$("#asignarTarjetaCombustible").attr("disabled","disabled");
						$("#editarTarjetaCombustible").removeAttr("disabled");
						$("#solicitarTarjetaCombustible").attr("disabled","disabled");
						$("#devolucionTarjetaCombustible").attr("disabled","disabled");
						$("#copecHistorialTarjetaCombustible").removeAttr("disabled");
					}
					else{
						if(d[0] === 'Disponible'){
							$("#editarTarjetaCombustible").removeAttr("disabled");
							$("#asignarTarjetaCombustible").removeAttr("disabled");
							$("#copecHistorialTarjetaCombustible").removeAttr("disabled");
						}
						else if(d[0] === 'Bloqueada'){
							$("#editarTarjetaCombustible").removeAttr("disabled");
							$("#asignarTarjetaCombustible").attr("disabled","disabled");
							$("#copecHistorialTarjetaCombustible").removeAttr("disabled");
						}
						else{
							$("#editarTarjetaCombustible").removeAttr("disabled");
							$("#asignarTarjetaCombustible").removeAttr("disabled");
							$("#copecHistorialTarjetaCombustible").removeAttr("disabled");
						}
						$("#desasignarTarjetaCombustible").attr("disabled","disabled");
						$("#solicitarTarjetaCombustible").attr("disabled","disabled");
						$("#devolucionTarjetaCombustible").attr("disabled","disabled");
						$("#copecHistorialTarjetaCombustible").removeAttr("disabled");
					}
				},200);
			}
	});

</script>
