<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
			<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
					<span style="color: gray;" class="fas fa-car-alt">&nbsp;&nbsp;Listado de Vehículos</span>
				</font>
			</div>
			<div style="text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row" id="filtrosListadoVehiculo">
					<div id="divGraficaListadoVehiculo" style="margin-bottom: 10pt; text-align: right;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<div id="graficaListadoVehiculo" class="" style="text-align: left; margin-top: 15pt;">

						</div>
					</div>
					<div id="divInformeListadoVehiculo" style="margin-bottom: 10pt; text-align: right;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<table id="informeListadoVehiculo" class="row-border compact" style="width: 100%;">
							<thead>
								<tr>
									<th class="celdaColorCant" style="border: 1pt solid white;" title="Estado">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estado Veh.</th>
									<th class="celdaColorCant" style="border: 1pt solid white;" title="Cantidad">&nbsp;&nbsp;&nbsp;&nbsp;#</th>
								</tr>
							</thead>
							<tbody id="cuerpoListadoVehiculo" style="text-align: left;">

							</tbody>
							<tfoot>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;Total</td>
									<td></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div id="divInformeListadoVehiculoProyecto" style="margin-bottom: 10pt; text-align: right;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<table id="informeListadoVehiculoProyecto" class="row-border compact" style="width: 100%;">
							<thead>
								<tr>
									<th class="celdaColorCant" style="border: 1pt solid white;" title="Proyecto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proyecto</th>
									<th class="celdaColorCant" style="border: 1pt solid white;" title="Cantidad">&nbsp;&nbsp;&nbsp;&nbsp;#</th>
								</tr>
							</thead>
							<tbody id="cuerpoListadoVehiculoProyecto" style="text-align: left;">

							</tbody>
							<tfoot>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;Total</td>
									<td></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<hr class="hr-separador">
					</div>
				</div>
			</div>
			<div id="divTablaListadoVehiculo" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
				<table id="tablaListadoVehiculo" class="cell-border compact" style="width: 100%;">
					<thead>
						<tr>
							<th class="celdaColor" style="border: 1pt solid white;">S</th>
							<th class="celdaColor" style="border: 1pt solid white;">Patente</th>
							<th class="celdaColor" style="border: 1pt solid white;">M</th>
							<th class="celdaColor" style="border: 1pt solid white;">Estado Veh.</th>
							<th class="celdaColor" style="border: 1pt solid white;">Tipo</th>
							<th class="celdaColor" style="border: 1pt solid white;">Propiedad</th>
							<th class="celdaColor" style="border: 1pt solid white;">Marca</th>
							<th class="celdaColor" style="border: 1pt solid white;">Modelo</th>
							<th class="celdaColor" style="border: 1pt solid white;">Proveedor</th>
							<th class="celdaColor" style="border: 1pt solid white;">Personal Asignado</th>
							<th class="celdaColor" style="border: 1pt solid white;">DNI Asignado</th>
							<th class="celdaColor" style="border: 1pt solid white;">EC</th>
							<th class="celdaColor" style="border: 1pt solid white;">ER</th>
							<th class="celdaColor" style="border: 1pt solid white;">Bodega</th>
							<th class="celdaColor" style="border: 1pt solid white;">Servicio</th>
							<th class="celdaColor" style="border: 1pt solid white;">Cliente</th>
							<th class="celdaColor" style="border: 1pt solid white;">Actividad</th>
							<th class="celdaColor" style="border: 1pt solid white;">R. Téc.</th>
							<th class="celdaColor" style="border: 1pt solid white;">P. Cir.</th>
							<th class="celdaColor" style="border: 1pt solid white;">Aseg.</th>
							<th class="celdaColor" style="border: 1pt solid white;">Otros</th>
							<th class="celdaColor" style="border: 1pt solid white;">Estado Texto</th>
						</tr>
					</thead>
					<tbody id="cuerpoTablaListadoVehiculo" style="text-align: left;">

					</tbody>
				</table>
			</div>
		<!-- Botones -->
		<div id="accionesVehiculos" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0; margin-bottom: 20pt;">

		</div>
	</div>

<script>
//Para interactuar con los botones
	$('#tablaListadoVehiculo tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoVehiculo').DataTable();
		if ( $(this).hasClass('selected') ) {
		$("#editarVehiculo").attr("disabled","disabled");
		$("#subirPdfVehiculo").attr("disabled","disabled");
		$("#historialVehiculo").attr("disabled","disabled");
		}
		else {
			table.$('tr.selected').removeClass('selected');
		$("#editarVehiculo").removeAttr("disabled");
		$("#subirPdfVehiculo").removeAttr("disabled");
		$("#historialVehiculo").removeAttr("disabled");
		}
	});

</script>
